@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div class="ml-md-auto">
            <AuthorizeView>
                <Authorized>
                    <a href="@("AddOrEditUser/" +  context.User.Identity)">Hello, @context.User.Identity.Name!</a>
                    <a href="LogOut">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="Login">Log in</a>
                    <a href="Register">Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
