@inherits LayoutComponentBase
@using System.Security.Claims;

<div class="sidebar">
    <AuthorizeView Roles="Admin, Editör">
        <Authorized>
            <NavAdminMenu />
        </Authorized>
        <NotAuthorized>
            <NavMenu />
        </NotAuthorized>
    </AuthorizeView>
</div>

<div class="main">
    <div class="top-row px-4">
        <div class="ml-md-auto">
            <AuthorizeView>
                <Authorized>
                    @{
                        var claimsIdentity = context.User.Identity as System.Security.Claims.ClaimsIdentity;
                        if (claimsIdentity != null)
                        {
                            var c = claimsIdentity.FindFirst(ClaimTypes.PrimarySid);
                            if (c != null)
                            {
                                <a href="@("AddOrEditUser/" + c.Value)">Merhaba, @context.User.Identity.Name!</a>
                            }
                        }
                    }
                    <a href="LogOut">Çıkış Yap</a>
                </Authorized>
                <NotAuthorized>
                    <a href="Login">Giriş</a>
                    <a href="Register">Kayıt Ol</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@*<footer class="container-fluid">
        <p>Footer - Batuhan</p>
    </footer>*@

