<div class="h-auto">
    <div class="row my-5">
        <div class="col-3">
            <NavLink href="">
                <div class="row"><span class="oi oi-plus mx-auto" title="İlan Ekle" aria-hidden="true"></span></div>
                <div class="row"><div class="mx-auto">İlan Ekle</div></div>
            </NavLink>
        </div>
        <div class="col-3">
            <a href="">
                <div class="row"><span class="oi oi-align-center mx-auto" title="Bekleyen İlanlar" aria-hidden="true"></span></div>
                <div class="row"><div class="mx-auto">Bekleyen İlanlar</div></div>
            </a>
        </div>
        <div class="col-3">
            <a href="">
                <div class="row"><span class="oi oi-list-rich mx-auto" title="Tüm İlanlar" aria-hidden="true"></span></div>
                <div class="row"><div class="mx-auto">Tüm İlanlar</div></div>
            </a>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-3">
            <a href="">
                <div class="row"><span class="oi oi-plus mx-auto" title="Üye Ekle" aria-hidden="true"></span></div>
                <div class="row"><div class="mx-auto">Üye Ekle</div></div>
            </a>
        </div>
        <div class="col-3">
            <a href="">
                <div class="row"><span class="oi oi-people mx-auto" title="Tüm Üyeler" aria-hidden="true"></span></div>
                <div class="row"><div class="mx-auto">Tüm Üyeler</div></div>
            </a>
        </div>
        <div class="col-3">
            <a href="">
                <div class="row"><span class="oi oi-briefcase mx-auto" title="Mağazalar" aria-hidden="true"></span></div>
                <div class="row"><div class="mx-auto">Mağazalar</div></div>
            </a>
        </div>
        <div class="col-3">
            <a href="">
                <div class="row"><span class="oi oi-person mx-auto" title="Yöneticiler" aria-hidden="true"></span></div>
                <div class="row"><div class="mx-auto">Yöneticiler</div></div>
            </a>
        </div>
    </div>
</div>