@page "/addOrEditUser/{userID:int}"
@using MarketplaceBlazorApp.Shared
@using MarketplaceBlazorApp
@inject HttpClient Http
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin,Mağaza,Editör,Kullanıcı")]

<h3>AddOrEditUser</h3>

@if (user == null)
{
    <p><em>Yükleniyor...</em></p>
}
else
{
    <EditForm Model="@user" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">@("@")</div>
                </div>
                <InputText type="text" class="form-control" id="mail" placeholder="Mail" @bind-Value="user.Mail" />
            </div>
        </div>
        <div class="form-group">
            <InputText type="password" class="form-control" id="password" placeholder="Şifre" @bind-Value="user.Password" />
        </div>
        <div class="form-group">
            <InputText type="text" class="form-control" id="name" placeholder="Ad" @bind-Value="user.Name" />
        </div>
        <div class="form-group">
            <InputText type="text" class="form-control" id="surname" placeholder="Soyad" @bind-Value="user.Surname" />
        </div>
        <div class="form-group">
            <InputText type="text" class="form-control" id="tckno" placeholder="TC Kimlik No" @bind-Value="user.Tckno" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Güncelle</button>
        </div>
    </EditForm>

    <div class="row">
        <div class="col-sm-6">
            @if (phone == null)
            {
                <p><em>Hata.</em></p>
            }
            else
            {
                <EditForm Model="@phone" OnValidSubmit="HandleValidSubmitForPhone">
                    <InputText type="tel" class="form-control" @bind-Value="phone.Number" />
                    <button class="btn btn-primary">Yeni numara ekle</button>
                </EditForm>
            }
        </div>
        <div class="col-sm-6">
            @if (phones == null)
            {
                <p><em>Kayıtlı telefon numarası bulunamadı.</em></p>
            }
            else
            {
                foreach (var phone in phones)
                {
                    <div class="form-group">
                        <input type="tel" value="@phone.Number" class="form-control" />
                        <button class="btn btn-primary">Güncelle</button>
                        <button class="btn btn-primary">Sil</button>
                    </div>
                }
            }
        </div>
    </div>
}


@code {
    [Parameter] public int userID { get; set; }

    private UserModel[] users;
    private UserModel user;

    private IEnumerable<PhoneModel> phones;
    private PhoneModel phone;

    protected override async Task OnInitializedAsync()
    {
        await LoadUser();
        phone = new PhoneModel();
        phone.PhoneID = 0;
        phone.UserID = user.UserID;
    }

    async Task LoadUser()
    {
        if (userID == 0)
        {
            user = new UserModel();

        }
        else
        {
            users = await Http.GetJsonAsync<UserModel[]>($"api/user/{userID}");
            user = users[0];
            await LoadPhones(user.UserID);
        }
    }

    async Task HandleValidSubmit()
    {
        await Http.PutJsonAsync("api/user/", user);
        NavigationManager.NavigateTo("showUsers");
    }

    async Task LoadPhones(int userID)
    {
        phones = await Http.GetJsonAsync<IEnumerable<PhoneModel>>($"api/phone/{userID}");
        StateHasChanged();
    }

    async Task HandleValidSubmitForPhone()
    {
        await Http.PutJsonAsync("api/phone/", phone);
    }
}
