@page "/addOrEditUser/{userID:int}"
@using MarketplaceBlazorApp.Shared
@using MarketplaceBlazorApp
@inject HttpClient Http
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin,Mağaza,Editör,Kullanıcı")]

<h3>Kullanıcı Paneli</h3>

@if (user == null)
{
    <p><em>Yükleniyor...</em></p>
}
else
{
    <div class="row">
        <div class="col-sm-6">
            <EditForm Model="@user" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="col-sm-6 my-1">
                    <div class="input-group">
                        <label class="sr-only" for="mail">E Mail</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@("@")</div>
                            </div>
                            <InputText type="text" class="form-control" id="mail" placeholder="Mail" @bind-Value="user.Mail" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 my-1">
                    <div class="input-group">
                        <label class="sr-only" for="password">Şifre</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">*</div>
                            </div>
                            <InputText type="password" class="form-control" id="password" placeholder="Şifre" @bind-Value="user.Password" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 my-1">
                    <div class="input-group mb-2">
                        <InputText type="text" class="form-control" id="name" placeholder="Ad" @bind-Value="user.Name" />
                    </div>
                </div>
                <div class="col-sm-6 my-1">
                    <div class="input-group mb-2">
                        <InputText type="text" class="form-control" id="surname" placeholder="Soyad" @bind-Value="user.Surname" />
                    </div>
                </div>
                <div class="col-sm-6 my-1">
                    <div class="input-group mb-2">
                        <InputText type="text" class="form-control" id="tckno" placeholder="TC Kimlik No" @bind-Value="user.Tckno" />
                    </div>
                </div>
                <div class="col-sm-6 my-1">
                        <button class="btn btn-primary">Güncelle</button>
                </div>
            </EditForm>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    @if (phone == null)
                    {
                        <p><em>Hata.</em></p>
                    }
                    else
                    {
                        <EditForm Model="@phone" OnValidSubmit="HandleValidSubmitForPhone">
                            <div class="row mb-1">
                                <div class="col-sm-6"><InputText type="tel" class="form-control" @bind-Value="phone.Number" /></div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-sm-6"><button class="btn btn-primary btn-block">Yeni numara ekle</button></div>
                            </div>
                        </EditForm>
                    }
                </div>
                <div class="col-sm-6">
                    @if (userID > 0)
                    {
                        if (phones == null)
                        {
                            <p><em>Kayıtlı telefon numarası bulunamadı.</em></p>
                        }
                        else
                        {
                            foreach (var phone in phones)
                            {
                                <div class="row">
                                    <div class="col-sm-6"><label class="form-control">@phone.Number</label></div>
                                    <div class="col-sm-6"><button class="btn btn-primary" @onclick="(() => DeletePhone(phone.PhoneID))">Sil</button></div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Parameter] public int userID { get; set; }

    private UserModel[] users;
    private UserModel user;

    private IEnumerable<PhoneModel> phones;
    private PhoneModel phone;
    private string newPhoneValue;

    protected override async Task OnInitializedAsync()
    {
        await LoadUser();
        phone = new PhoneModel();
        phone.PhoneID = 0;
        phone.UserID = user.UserID;
    }

    async Task LoadUser()
    {
        if (userID == 0)
        {
            user = new UserModel();

        }
        else
        {
            users = await Http.GetJsonAsync<UserModel[]>($"api/user/{userID}");
            user = users[0];
            await LoadPhones(user.UserID);
        }
    }

    async Task HandleValidSubmit()
    {
        await Http.PutJsonAsync("api/user/", user);
        NavigationManager.NavigateTo("showUsers");
    }

    async Task LoadPhones(int userID)
    {
        phones = await Http.GetJsonAsync<IEnumerable<PhoneModel>>($"api/phone/{userID}");
        StateHasChanged();
    }

    async Task HandleValidSubmitForPhone()
    {
        await Http.PutJsonAsync("api/phone/", phone);
        await LoadPhones(userID);
    }

    async Task DeletePhone(int phoneID)
    {
        await Http.DeleteAsync($"api/phone/{phoneID}");
        await LoadPhones(userID);
    }

    //async Task UpdatePhone(int phoneID)
    //{
    //    await Http.PutJsonAsync("api/phone/", phone);
    //    NavigationManager.NavigateTo($"addorEditUser/{userID}");
    //}
}
