@page "/fetchdata"
@using MarketplaceBlazorApp.Shared
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ItemID</th>
                <th>Title)</th>
                <th>Description</th>
                <th>Profile Photo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.ItemID</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.ProfilePhotoPath</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ItemModel[] items;

    protected override async Task OnInitializedAsync()
    {
        items = await Http.GetJsonAsync<ItemModel[]>("api/Item");
    }

}
