@page "/logout"
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<p>Çıkış yapıldı</p>

@code {

    protected override async Task OnInitializedAsync()
    {
        await AuthService.Logout();
        NavigationManager.NavigateTo("/");
    }

}
